{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class='header__search'>
  <details>
    <summary
      class='header__icon header__icon--search header__icon--summary link focus-inset modal__toggle'
      aria-haspopup='dialog'
      aria-label='{{ 'general.search.search' | t }}'
    >
      <span>       
        <svg
          class='modal__toggle-open icon icon-search tw-stroke-white'
          aria-hidden='true'
          focusable='false'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path d="M17.1527 15.0943H16.0686L15.6844 14.7238C17.0756 13.1102 17.8403 11.05 17.8388 8.91938C17.8388 7.1553 17.3157 5.43083 16.3356 3.96404C15.3555 2.49726 13.9625 1.35404 12.3327 0.678951C10.7029 0.00386463 8.90949 -0.172769 7.1793 0.171387C5.44911 0.515544 3.85983 1.36503 2.61243 2.61243C1.36503 3.85983 0.515544 5.44911 0.171387 7.1793C-0.172769 8.90949 0.00386463 10.7029 0.678951 12.3327C1.35404 13.9625 2.49726 15.3555 3.96404 16.3356C5.43083 17.3157 7.1553 17.8388 8.91938 17.8388C11.1286 17.8388 13.1595 17.0292 14.7238 15.6844L15.0943 16.0686V17.1527L21.9554 24L24 21.9554L17.1527 15.0943ZM8.91938 15.0943C5.50258 15.0943 2.74443 12.3362 2.74443 8.91938C2.74443 5.50258 5.50258 2.74443 8.91938 2.74443C12.3362 2.74443 15.0943 5.50258 15.0943 8.91938C15.0943 12.3362 12.3362 15.0943 8.91938 15.0943Z" fill="white"/>
        </svg>

        <svg class='modal__toggle-close icon icon-close tw-stroke-white' aria-hidden='true' focusable='false'>
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div
      class='search-modal modal__content gradient'
      role='dialog'
      aria-modal='true'
      aria-label='{{ 'general.search.search' | t }}'
    >
      <div class='modal-overlay'></div>
      <div
        class='search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}'
        tabindex='-1'
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class='search-modal__form' data-loading-text='{{ 'accessibility.loading' | t }}'>
        {%- else -%}
          <search-form class='search-modal__form'>
        {%- endif -%}
        <form action='{{ routes.search_url }}' method='get' role='search' class='search search-modal__form'>
          <div class='field'>
            <input
              class='search__input field__input'
              id='{{ input_id }}'
              type='search'
              name='q'
              value='{{ search.terms | escape }}'
              placeholder='{{ 'general.search.search' | t }}'
              {%- if settings.predictive_search_enabled -%}
                role='combobox'
                aria-expanded='false'
                aria-owns='predictive-search-results'
                aria-controls='predictive-search-results'
                aria-haspopup='listbox'
                aria-autocomplete='list'
                autocorrect='off'
                autocomplete='off'
                autocapitalize='off'
                spellcheck='false'
              {%- endif -%}
            >
            <label class='field__label' for='{{ input_id }}'>{{ 'general.search.search' | t }}</label>
            <input type='hidden' name='options[prefix]' value='last'>
            <button
              type='reset'
              class='reset__button field__button{% if search.terms == blank %} hidden{% endif %}'
              aria-label='{{ 'general.search.reset' | t }}'
            >
              <svg class='icon icon-close' aria-hidden='true' focusable='false'>
                <use xlink:href="#icon-reset">
              </svg>
            </button>
            <button class='search__button field__button' aria-label='{{ 'general.search.search' | t }}'>
              <svg class='icon icon-search' aria-hidden='true' focusable='false'>
                <use href="#icon-search">
              </svg>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class='predictive-search predictive-search--header' tabindex='-1' data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class='predictive-search-status visually-hidden' role='status' aria-hidden='true'></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
        <button
          type='button'
          class='search-modal__close-button modal__close-button link link--text focus-inset'
          aria-label='{{ 'accessibility.close' | t }}'
        >
          <svg class='icon icon-close' aria-hidden='true' focusable='false'>
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
