<section class='testimonials-section tw-py-[7.5rem] tw-relative'>
  <div class='tw-container tw-relative'>
    <div class='swiper'>
      <div class='swiper-wrapper tw-max-w-full'>
        {%- for block in section.blocks -%}
          <article
            class='swiper-slide tw-min-h-full text-[1.6rem] md:text-[1.8rem] tw-space-y-[3rem] tw-font-normal'
            id='Slide-{{ section.id }}-{{ forloop.index }}'
            role='group'
            aria-label='{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}'
            tabindex='-1'
          >
            <div class='flex tw-justify-center'>
              {% render 'fire-rating', rating: block.settings.rating %}
            </div>
            <span class='tw-block'>
              {{ block.settings.comment }}
            </span>
            <span class='tw-block py-[3rem]'> Gekauft am {{ block.settings.date }} </span>
            <span class='tw-block cover-text'>
              {{ block.settings.customer_name }}
            </span>
          </article>
        {%- endfor -%}
      </div>
      <aside
        class='swiper-pagination md:tw-hidden tw-static tw-mt-[3rem]'
      ></aside>
    </div>

    <aside class='tw-hidden lg:tw-flex tw-justify-between tw-absolute tw-top-1/2 -tw-translate-y-1/2 tw-left-1/2 -tw-translate-x-1/2 tw-w-full tw-select-none tw-z-50'>
      <div class='swiper-button-prev tw-block after:tw-content-none tw-relative -tw-left-10'>
        {% render 'icon-chevron', direction: 'left' %}
      </div>
      <div class='swiper-button-next tw-block after:tw-content-none tw-relative -tw-right-10'>
        {% render 'icon-chevron', direction: 'right' %}
      </div>
    </aside>
  </div>
  <div class='tw-absolute tw-opacity-60 tw-top-auto -tw-bottom-[10rem] lg:tw-bottom-0 tw-translate-y-1/2 tw-rotate-180 tw-scale-[1.8] lg:tw-scale-100 tw-left-0 tw-opacity-60 tw-w-1/2 md:tw-w-[40rem] tw-aspect-[1/2] tw-overflow-hidden tw-pointer-events-none -tw-z-10'>
    <img src='{{ 'totem.png' | asset_url}}' width='800' height='800' class='tw-absolute '>
  </div>
</section>

{% schema %}
{
  "name": "Testimonials Section",
  "blocks": [
    {
      "type": "testimonial-item",
      "name": "Testimonial",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Rating",
          "default": 4
        },
        {
          "type": "textarea",
          "id": "comment",
          "label": "comment"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Buy Date"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name"
        }
      ]
    }
  ]
}
{% endschema %}
