<div class='testimonials-section tw-py-[7.5rem]'>
  <div class='swiper tw-container tw-relative'>
    <div class='swiper-wrapper tw-max-w-full'>
      {%- for block in section.blocks -%}
        <article
          class='swiper-slide text-[1.6rem] md:text-[1.8rem] tw-space-y-[3rem] tw-font-normal'
          id='Slide-{{ section.id }}-{{ forloop.index }}'
          role='group'
          aria-label='{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}'
          tabindex='-1'
        >
          <div class='flex tw-justify-center'>
            {% render 'fire-rating', rating: block.settings.rating %}
          </div>
          <span class='tw-block'>
            {{ block.settings.comment }}
          </span>
          <span class='tw-block py-[3rem]'> Gekauft am {{ block.settings.date }} </span>
          <span class='tw-block cover-text'>
            {{ block.settings.customer_name }}
          </span>
        </article>
      {%- endfor -%}
    </div>
    <div
      class='swiper-pagination md:tw-hidden tw-static tw-mt-[3rem]'
    ></div>
    <div class='tw-hidden md:tw-block'>
      <div class='swiper-button-prev'></div>
      <div class='swiper-button-next'></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonials Section",
  "blocks": [
    {
      "type": "testimonial-item",
      "name": "Testimonial",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Rating",
          "default": 4
        },
        {
          "type": "textarea",
          "id": "comment",
          "label": "comment"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Buy Date"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name"
        }
      ]
    }
  ]
}
{% endschema %}
