{% schema %}
{
  "name": "Product Tab Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "WILLKOMMEN BEI SHARPED MESSER"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Ihr Zuhause für ultra scharfes Messer aus Carbon Stahl"
    }
  ],
  "blocks": [
    {
      "type": "product-slider-tab",
      "name": "Product Slider Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "EINZELMESSER"
        },
        {
          "type": "text",
          "id": "tab_id",
          "label": "Tab ID",
          "default": "einzelmesser"
        }
      ]
    },
    {
      "type": "product-slider-item",
      "name": "Product Slider Item",
      "settings": [
        {
          "type": "text",
          "id": "product_name",
          "label": "Product Name",
          "default": "Senzo Professional SG2 Bunka 165mm"
        },
        {
          "type": "text",
          "id": "product_price",
          "label": "Product Price",
          "default": "55,00 € 50,00 €"
        },
        {
          "type": "textarea",
          "id": "product_description",
          "label": "Product Description",
          "default": "Messertasche schwarzes Leder Messertasche schwarzes Leder"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        }
      ]
    }
  ]
}
{% endschema %}

<div class='product-slider-tab-section'>
  <h3>{{ section.settings.heading }}</h3>
  <h5>{{ section.settings.subheading }}</h5>
  <section class='tabs'>
    {% for block in section.blocks %}
      {% if block.type == 'product-slider-tab' %}
        <div class='tab' onclick='openTab(event, {{ block.settings.tab_id }})'>
          <h3>{{ block.settings.title }}</h3>
        </div>
      {% endif %}
    {% endfor %}
    {% for block in section.blocks %}
      <div class='embla'>
        <div class='tab-content embla__container'>
          {% for product in block.blocks %}
            <div class='product-slider-item embla__slide'>
              {% if product.settings.product_image %}
                {% assign image_src = product.settings.product_image | image_url: '400x300' %}
              {% else %}
                {% assign image_src = 'dao1@0.5x 1.jpg' | asset_url %}
              {% endif %}
              {% if product.settings.product_image %}
                <img
                  src='{{ image_src |  asset_url }}'
                  alt='{{ product.settings.product_name }}'
                  width='400'
                  height='300'
                >
              {% endif %}
              <h4>{{ product.settings.product_name }}</h4>
              <p>{{ product.settings.product_price }}</p>
              <p>{{ product.settings.product_description }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </section>
</div>

<script>
  function openTab(evt, tabName) {
    const tabcontent = document.querySelectorAll('.tab');
    const tablinks = document.querySelectorAll('.tab-content');

    tabcontent.forEach((content) => {
      content.style.display = 'none';
    });

    tablinks.forEach((link) => {
      link.classList.remove('active');
    });

    document.getElementById(tabName).style.display = 'block';
    evt.currentTarget.classList.add('active');
  }
</script>

{%- liquid
  render 'vite-tag' with 'slider.js'
-%}
